
RewriteEngine on
RewriteCond %{HTTP_HOST} ^backendcertifycollege\.websquemolan\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.backendcertifycollege\.websquemolan\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/backendcertifycollege\.websquemolan\.com\/public\/" [R=301,L]

